* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3C5A72;
  font-family:'Courier New', Courier, monospace;
 
}

.title {
  color: #000000;
}

.input-row {
  width: 45%;
  max-width: 170px;
  display: flex;
  justify-content: space-between;
}

input.number-input {
  width: 70px;
}

input.number-input:hover {
  background-color: black;
  color: white;
  border: 5px outset blue
  
}

.result-box {
  background-color: yellow;
  border: 2px solid black;
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
  border: 33px outset orange;
}


.result-box .result-text {
  font-weight: 900;
  color:red;
}

.submit-button {
  margin: 4px;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
}

.submit-button:hover {
  background-color: black;
  color: white;
  border: 10px outset green
}

.mb-7 {
  margin-bottom: 48px;
}

.container{
  background-color: skyblue;
  padding:  20px 20px 20px 20px;
  border: 10px outset black;
}

